html,body,#app { overflow: hidden; width: 100%; height: 100%; font-family: "Source Sans Pro"}

.page-container { display: flex; height: 100%; }

.content-logo { background-color: #132135; display: flex; flex-grow: 6; align-items: center; justify-content: center; }

.content-logo img { height: 140px;  width: 380px }

.content-login { flex-grow: 6; }

.content-login input { width: 350px !important; }

.submit { padding-top: 50px; display: flex; align-items: center; justify-content: center; }

.login-item { display: flex; align-items: center; justify-content: center; }

.msg-login { font: 16px "Source Sans Pro"; padding: 40px 0px 60px 0px; color: rgb(158, 157, 157); }

.titulo { padding-top: 110px; font-size: 40px; font-family: "Script MT"; }

 .left-border { width: 20px; background-color: #132135; }

