.avatar, .avatar .icon, .avatar img { border-radius: 0%; }

.theme--light .navigation-drawer { background-color: #132135; }

aside .navigation-drawer.navigation-drawer--open { width: 180px !important; }

aside .navigation-drawer.navigation-drawer--mini-variant { width: 80px !important; }

aside a:hover { background-color: rgba(216, 216, 216, 0.158) !important; }

.selectedItem { width: 20px; height: 20px; }

img.nav-icon { height: 28px; }

.list__tile__action { display: flex; justify-content: center; }

.list__tile__action .btn__content { background-color:  #132135; color: #fff; width:180px !important; }