.products-page { display: flex; height: 100%; background: $color-background;
    .nav-content { display: flex; }
    .header-content { display: inline; border: 1px solid green; ;}
    .products-content { border: 1px solid purple }
    
 }