.products-wrapper { $mrgItems: 70px;
  h1 { margin: 30px $mrgItems; color: $color-primary; }

  ul.fast-view { display: flex; justify-content: space-between; margin: $mrgItems;
      li { display:flex; background: #fff; width: 310px; height: 50px; align-items: center; padding-left: 30px; font-size: 18px; box-shadow: 0px 0px 6px 0px rgba(89,89,89,0.25);
        .qtdFast { color: rgb(197, 0, 0); margin: 0px 10px; font-size: 25px; }
        img { width: 30px; }
      }
  }

  div.content { display: flex; justify-content: space-between; margin: $mrgItems;
      .products-table { width: 800px; max-height: 350px; box-shadow: 0px 0px 6px 0px rgba(89,89,89,0.20);
        .datatable__actions__select {display: none !important}

      }
      .analityc-table { height: 300px; width: 300px; background: #fff; box-shadow: 0px 0px 6px 0px rgba(89,89,89,0.30);
        img { height: 350px; width: 260px; }
      }
      .btns-produtcts { margin-top: 35px; display: flex; justify-content: space-between; }
      table.datatable.table { background: #fff; }

      button.pagination__item.pagination__item--active.primary { background: $color-primary !important; color: #fff; }
      .primary--text input, .primary--text textarea { color: $color-primary !important; }
      th { font-weight: bold; }
  }
}