input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
input[type=number] { -moz-appearance: textfield; }

input, select, textarea {
    &:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px white inset !important; }

    &:invalid, &:required {
      box-shadow: none !important;
    }
}

* { padding: 0; margin: 0; outline: none !important;
  -webkit-tap-highlight-color:  rgba(0,0,0,0);
  -moz-tap-highlight-color:     rgba(0,0,0,0);

  -webkit-touch-callout:  none;
  /*-webkit-user-select:    none;
  -moz-user-select:       none;
  user-select:            none;*/

  /*
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -ms-box-sizing:     border-box;
  box-sizing:         border-box;
  */

  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing:    subpixel-antialiased;
  -o-font-smoothing:      subpixel-antialiased;
  -ms-font-smoothing:     subpixel-antialiased;
  font-smoothing:         subpixel-antialiased;
}

html { height:100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust:   100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section { display: block; }

audio,
canvas { display: inline-block; *display: inline; *zoom: 1; }

audio:not([controls]) { display: none; }

[hidden] { display: none; }

ul { list-style: none; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; -webkit-backface-visibility: hidden; }

form { margin: 0; }

fieldset { border: 0; margin: 0; padding: 0; }

label,
select { cursor: pointer; }

input, textarea, select {
  -webkit-appearance: none !important;
  -moz-appearance:    none !important;
  -ms-appearance:     none !important;
  appearance:         none !important;
}

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

button,
input[type=text],
input[type=password],
select,
textarea { vertical-align: baseline; *vertical-align: middle; box-sizing: border-box; }

button, input { line-height: normal; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

button[disabled],
input[disabled],
body { cursor: default; font-weight:normal; }

input[type="checkbox"],
input[type="radio"] { padding: 0; *width: 13px; *height: 13px; }

input[type="email"] { text-transform: lowercase; }

input[type="search"] { -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }


button::-moz-focus-inner,
input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

table { border-collapse: collapse; border-spacing: 0;
  td { vertical-align: middle; }
}

::-moz-selection { background: #005598; color: #fff; text-shadow: none; }

::selection { background: #005598; color: #fff; text-shadow: none; }

::-webkit-selection { background: #005598; color: #fff; text-shadow: none; }

a { text-decoration: none; }

a:focus { outline: 0; text-decoration: none; }

html, body { overflow-x: hidden !important; }

.overflowHidden { overflow: hidden !important; }

@media all and (min-width: 998px) {
  .desktop { display: block !important; }
  .mobile { display: none !important; }
}

@media all and (max-width: 997px) {
  .desktop { display: none !important; }
  .mobile { display: block !important; }
}
