div.login-page { height: 100vh; display: flex; align-items: center; justify-content: center; background-color: $back;

  section.login-container { display: flex; background-color: $dark; width: 50%; height: 380px; border-radius: 1.5%; box-shadow: 0 1px 3px #0000001f, 0 1px 2px #00000099;
    div.logo { width: 50%; display: flex; align-items: center; justify-content: center; margin-left: 50px;
      img { height: 100px; }
    }

    div.login-form { width: 50%; display: flex; align-items: center; justify-content: center;
      div.login-input { margin-bottom: 20px; display: flex;
        img { height: 22px; margin-right: 10px; }
      }

       button { background-color: $secundary; border: none; border-radius: 10%; height: 35px; width: 90px; margin: 5px 0px 0px 75px;
        &:hover { background-color: $primary; color: $dark; }
        &.disabled { background-color: $dark; cursor: none; }
        img { height: 90%; }
      }
    }

    div.bar-colored { width: 6px; height: 100%; background-color: $primary; }
  }

}
